/* pt-sans-regular - latin */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-v12-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/pt-sans-v12-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/pt-sans-v12-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/pt-sans-v12-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/pt-sans-v12-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/pt-sans-v12-latin-regular.svg#PTSans") format("svg"); /* Legacy iOS */
}

/* pt-sans-700 - latin */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-v12-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/pt-sans-v12-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/pt-sans-v12-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/pt-sans-v12-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/pt-sans-v12-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/pt-sans-v12-latin-700.svg#PTSans")
      format("svg"); /* Legacy iOS */
}

body {
  font-family: "PT Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin-top: 1em;
}

p {
  margin-bottom: 1em;
}

footer {
  border-top: #bbb 1px solid;
}

footer p {
  margin-top: 0.67em;
  font-weight: bold;
  color: #bbb;
}

#header-row h1 {
  font-size: 1.67em;
  font-weight: bold;
}

#info-column h2 {
  font-size: 1.33em;
  font-weight: bold;
}

#submit-btn {
  font-size: 1.4rem;
  height: 4.5rem;
  line-height: 4.5rem;
  padding: 0 2rem;
  width: 100%;
}

#img-preview {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 50%;
}

#footer-logo p {
  text-align: center;
}

#footer-logo img {
  width: 1.33em;
}

@media (min-width: 40rem) {
  #footer-logo p {
    text-align: right;
  }
}
